{% extends 'padre.html' %}

{% block title %}Buscar datos - Mi Proyecto{% endblock %}

{% block content %}
    <h2>Buscar datos</h2>
    <form method="get">
        <input type="text" name="query" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    {% if resultados %}
        <ul>
            {% for resultado in resultados %}
                <li>{{ resultado }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}